<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="flingr.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FlingrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".receivers.NotificationActionReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="flinger.app.receivers.NotificationActionReceiver.cancel_upload_action"/>
                <action android:name="flinger.app.receivers.NotificationActionReceiver.done_upload_action"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.FileUploadIntentService"
            android:exported="false" />

        <activity android:name=".activities.NewConnectionActivity">
            <intent-filter>
                <action android:name="app.flingr.NewConnectionAction" />
                <action android:name="app.flingr.EditConnectionAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>